<h2>Received Requests</h2>
<% @friend_requests.each do |user| %>
<li class="my-4">
  <% if !current_user.friend?(user) %>
    <%= user.name %> want to be your friend.
    <%= link_to 'Accept', user_friendship_path(@friend_requests, user), method: :put, style: "color: #008000" %>
    <%= link_to 'Reject', user_friendship_path(@friend_requests, user), method: :delete, style: "color: #FF0000" %>
  <% end %>
</li>
<% end %>
