<div class="Rtable Rtable--4cols">
  <% if user != current_user%>
  <div class="Rtable-cell"><h2>Name: <%= user.name %></h2></div>
  <div class="Rtable-cell">
    <%= link_to 'See Profile', user_path(user), class: 'btn-1 orange_btn' %>
  </div>
  <div class="Rtable-cell">
    <% if current_user.friends.none?(user) && current_user.pending_friends.none?(user) && current_user.friend_requests.none?(user) && current_user != user %>
      <%= link_to 'Add as friend', user_friendships_path(current_user, :friendship => {:friend_id => user.id}), method: :post, class: 'btn-1 green_btn' %>
    <% elsif (current_user.pending_friends.include?(user) || current_user.friend_requests.include?(user)) %>
      <p>'Waiting for confirmation.'</p>
    <% elsif current_user != user %>
      <p>'You are already friends.'</p>
    <% end %>
  </div>
  <div class="Rtable-cell">&nbsp;</div>
  <% end %>
</div>
